---
import Layout from "@/layouts/Layout.astro"

import Productions from "@/components/Productions.astro"

import HomeHeader from "@/components/ui/HomeHeader.astro"
---

<Layout textColor="text-black" bgColor="bg-alto-100/45" background="bg-white">
	<main class="mt-32">
		<HomeHeader orange_text="producciones">producciones</HomeHeader>
		<Productions />
	</main>
</Layout>
