---
import Layout from "@/layouts/Layout.astro"

import SectionHeader from "@/components/ui/SectionHeader.astro"
---

<Layout>
	<main class="pt-20 sm:pb-4 lg:pt-32">
		<SectionHeader dashed black="Donar" clementine="y colaborar">apóyanos </SectionHeader>
		<section>
			<div class="mx-auto w-[95%] py-8 sm:w-[85%] lg:py-10">
				<p class="text-base/loose uppercase sm:max-w-[700px]">
					Venimos de una tierra llena de todo lo maravilloso y lo inexplicable donde la Danza
					transforma y se vuelve cura.
				</p>
				<article class="text-balance pt-8 sm:mx-auto lg:w-[70%] lg:pt-14 2xl:w-[65%]">
					<p>
						En nuestra búsqueda por crear y compartir nuestra esencia a través del movimiento, tu
						apoyo es fundamental. Si deseas ser parte de nuestro universo, ayudar a preservar
						nuestros valores artísticos, y materializar nuestros sueños, no dudes en ponerte en
						contacto.
					</p>
					<a
						class="inline-block py-4 transition-colors hover:text-clementine-500"
						href="mailto:info@otroladodancecompany.com">info@otroladodancecompany.com</a
					>
				</article>
			</div>
		</section>
	</main>
</Layout>
