---
import Layout from "../layouts/Layout.astro"

// import HomeAbout from "../components/HomeAbout.astro"
// import HomeNews from "../components/HomeNews.astro"
// import HomeProductions from "../components/HomeProductions.astro"

import HomeSobreNosotros from "@/components/HomeSobreNosotros.astro"
import HomeVideo from "../components/HomeVideo.astro"
---

<Layout
	title="OtroLado Dance Company"
	textColor="text-white"
	bgColor="bg-black/15"
	background="bg-black"
>
	<main>
		<HomeVideo />
		<HomeSobreNosotros />
		<!-- <HomeNews />
		<HomeAbout />
		<HomeProductions /> -->
	</main>
</Layout>
