<form
	class="mx-auto w-[95%] max-w-[500px] items-center gap-4 sm:mx-0 sm:ml-[15%] sm:flex"
	id="form"
>
	<input
		type="email"
		required
		placeholder="Correo electrónico"
		class="h-fit w-[calc(100%-1rem)] rounded-lg border-2 border-solid border-clementine-500 bg-transparent py-3 pl-1 transition-colors hover:border-white focus:border-white focus:ring-0"
	/>
	<input
		type="submit"
		value="Enviar"
		class="mt-4 cursor-pointer rounded-lg bg-clementine-500 px-5 py-3 text-center text-black transition-colors duration-300 ease-in-out hover:bg-white sm:mt-0"
	/>
</form>
<script>
	const form = document.querySelector("#form") as HTMLFormElement
	const email = form?.querySelector("input[type='email']") as HTMLInputElement

	form.addEventListener("submit", (e) => {
		e.preventDefault()

		fetch("/api/email", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				email: email.value,
			}),
		})
			.then((res) => {
				if (!res.ok) {
					email.value = ""
					return window.toast({
						title: "¡Tu correo ya esta subscrito!",
						location: "bottom-center",
						dismissible: false,
						type: "error",
						icon: false,
					})
				}
				window.toast({
					title: "¡Gracias por suscribirte!",
					location: "bottom-center",
					dismissible: false,
					type: "success",
					icon: true,
				})
				email.value = ""
			})
			.catch((err) => {
				console.error(err)
				window.toast({
					title: "¡Algo salió mal!",
					location: "bottom-center",
					dismissible: false,
					type: "error",
					icon: true,
				})
			})
	})
</script>
