---
interface Props {
	text?: string
	orange_text?: string
	white?: boolean
}

const { text, orange_text, white } = Astro.props
---

<div class={`relative mx-auto overflow-hidden sm:min-h-[160px]`}>
	<span
		class={`absolute uppercase pointer-events-none text-nowrap tracking-tight left-0 top-0 text-[160px] text-alto-300 z-0 font-extrabold leading-[.9] opacity-45`}
	>
		<slot />
	</span>

	<div
		class="relative mx-auto w-[95%] items-center gap-56 pt-36 lg:ml-64 lg:flex lg:w-full lg:pt-14"
	>
		<div class="max-w-[600px]">
			<h2 class={`${white && "text-white"} text-3xl font-semibold uppercase `}>
				<span class={`${white && "text-white"}`} aria-hidden>_</span>
				{text}
				<span class="text-clementine-500">{orange_text}</span>
			</h2>
		</div>
	</div>
</div>
