---
import FacebookLogo from "./Logos/FacebookLogo.astro"
import InstagramLogo from "./Logos/InstagramLogo.astro"
import LinkedinLogo from "./Logos/LinkedinLogo.astro"
import TwitterLogo from "./Logos/TwitterLogo.astro"
import YoutubeLogo from "./Logos/YoutubeLogo.astro"
---

<div class="flex items-center gap-2 pt-4">
	<a
		class="inline-block"
		href="https://www.facebook.com/share/hMgsccrGaApQfSoN/"
		rel="nofollow noopener noreferrer"
		target="_blank"
		><FacebookLogo
			class="h-auto w-10 text-white transition hover:scale-110 hover:text-clementine-500"
		/></a
	>
	<a
		class="inline-block"
		href="https://www.instagram.com/otroladodc"
		rel="nofollow noopener noreferrer"
		target="_blank"
		><InstagramLogo
			class="h-auto w-10 text-white transition hover:scale-110 hover:text-clementine-500"
		/></a
	>
	<a
		class="inline-block"
		href="https://x.com/otroladodc"
		rel="nofollow noopener noreferrer"
		target="_blank"
		><TwitterLogo
			class="h-auto w-10 text-white transition hover:scale-110 hover:text-clementine-500"
		/></a
	>
	<a
		class="inline-block"
		href="https://www.linkedin.com/company/otrolado-dance-company/"
		rel="nofollow noopener noreferrer"
		target="_blank"
		><LinkedinLogo
			class="h-auto w-9 text-white transition hover:scale-110 hover:text-clementine-500"
		/></a
	>
	<a
		class="inline-block"
		href="https://www.youtube.com/@otroladodc"
		rel="nofollow noopener noreferrer"
		target="_blank"
		><YoutubeLogo
			class="h-auto w-11 text-white transition hover:scale-110 hover:text-clementine-500"
		/></a
	>
</div>
